# Ignore artifacts:
build
coverage
.next
out
dist
node_modules

# Ignore all HTML files:
*.html

# Ignore files:
package-lock.json
yarn.lock
pnpm-lock.yaml
.DS_Store
*.log

# Ignore database files
*.db
*.db-journal
prisma/migrations